.menu{
    border-radius: 10px;
    background-color: aqua;
    margin-top: 20px;
}

.cerrar_sesion{
    margin-top: 100%;
    background-color: aqua;
    border-radius: 10px;
    
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: black
}

.createform {
    width: 188px;
    height: 30px;
}