
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <h1 class="mt-5">Bienvenido a PETVALPO</h1>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="login-form">
                <form>
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control" placeholder="Usuario" name="username">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" placeholder="Contraseña" name="password">
                </div>
                <a href="{% url 'veterinaria:home' %}" class="btn btn-info btn-flat mt-2 offset-4">Iniciar Sesion</a>
                </form>
            </div>
        </div>
    </div>
</div>
