{% load static %}

{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- ICONS ONLY -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Reservas medicas</title>
</head>

<body style="height: 96%;">
    <div class="container-fluid" style="height: 100%; width: 97%; margin-top: 1%; margin-bottom: 1%;">
        <div class="row gx-4" style="height: 100%;">
            <div class="col col-xl-2" style="text-align: center;" >
                <div class="menu_lateral row p-3" style="border-radius: 15px; height: 100%; background-color: grey; align-items: center;">
                    
                    <div class="row">
                        <a href="{% url 'veterinaria:reservasmedicas' %}"><div class="menu"><i class="bi bi-calendar-check"></i> GESTION HORA MEDICA</div></a>
                        <a href="{% url 'veterinaria:funcionarios' %}"><div class="menu" href="#"><i class="bi bi-person-lines-fill"></i> FUNCIONARIOS</div></a>
                        <a href="{% url 'veterinaria:inventario' %}"><div class="menu" href="#"><i class="bi bi-basket"></i> INVENTARIO</div></a>
                        <a href="{% url 'veterinaria:cerrarsesion' %}"><div class="cerrar_sesion" href="#"><i class="bi bi-basket"></i> CERRAR SESION</a>
                        </div>
                    </div>
                    
                    
                </div>

            </div>
            <div class="col col-xl-10">
                <div class="p-3" style="border-radius: 15px; background-color: grey; "><h6 class="display-4" style="text-align: center;">Reservas medicas</h6></div>
                
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">RUT</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Nombre mascota</th>
                            <th scope="col">Opciones</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservamedica in reservasmedicas %}
                            <tr>
                                <th scope="row">{{reservamedica.id}}</th>
                                <td>{{reservamedica.nombreCliente}}</td>
                                <td>{{reservamedica.apellidoCliente}}</td>
                                <td>{{reservamedica.rutCliente}}</td>
                                <td>{{reservamedica.telefonoCliente}}</td>
                                <td>{{reservamedica.direccionCliente}}</td>
                                <td>{{reservamedica.fechaReserva}}</td>
                                <td>{{reservamedica.horaReserva}}</td>
                                <td>{{reservamedica.mascotaCliente}}</td>
                                <td><a href="{% url 'veterinaria:reservasmedicasupdate' reservamedica.id%}">Actualizar reserva</a></td>
                                <td><a href="{% url 'veterinaria:reservasmedicasdelete' reservamedica.id%}">Eliminar reserva</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-2">
                        <a href="{% url 'veterinaria:reservasmedicascreate'%}"><div class="menu"><i class="bi bi-calendar-check"></i>Crear reserva</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
