{% load static %}

{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<link rel="stylesheet" href="{% static 'style.css' %}">


<body style="height: 96%;">
  <div class="container-fluid" style="height: 100%; width: 97%; margin-top: 1%; margin-bottom: 1%;">
      <div class="row gx-4" style="height: 100%;">
          <div class="col col-xl-2" style="text-align: center;" >
              <div class="menu_lateral row p-3" style="border-radius: 15px; height: 100%; background-color: grey; align-items: center;">
                  
                  <div class="row">
                      <a href="{% url 'veterinaria:reservasmedicas' %}"><div class="menu"><i class="bi bi-calendar-check"></i> GESTION HORA MEDICA</div></a>
                      <a href="{% url 'veterinaria:funcionarios' %}"><div class="menu" href="#"><i class="bi bi-person-lines-fill"></i> FUNCIONARIOS</div></a>
                      <a href="{% url 'veterinaria:inventario' %}"><div class="menu" href="#"><i class="bi bi-basket"></i> INVENTARIO</div></a>
                      <a href="{% url 'veterinaria:cerrarsesion' %}"><div class="cerrar_sesion" href="#"><i class="bi bi-basket"></i> CERRAR SESION</a>
                      </div>
                  </div>
                  
                  
              </div>

          </div>
          <div class="col col-xl-10">
            <div class="ms-5 mt-3">
              <div class="form-group">
                <form method="POST">
                  {% csrf_token %}
                  {{form.as_p}}
                  <input class="m-2 btn btn-success" type="submit" value="Crear reserva">
                </form>
              </div>
            </div>
          </div>
      </div>
  </div>
</body>

